*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 24px;
    scroll-behavior: smooth;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    width: 100%;
    background-color: rgb(226, 20, 20);
    display: flex;
    justify-content: center;
    /* fixed the nav pos */
    position: sticky;
    top: 0; 
    padding: 10px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.285);
  
}

nav .container ul li{
    display: inline-block;
   /* text-align: center; */ 
    padding: 10px 20px;

}


nav .container ul li a{
    text-decoration: none;
    color: white;

}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 100;
    color: black;
}

#home{
    background-color: rgb(114, 14, 221);
    color: rgb(230, 237, 239);
    
}
#about{
    background-color: rgb(18, 43, 208);
    color: rgb(230, 237, 239);
    
}

#contact{
    background-color: rgb(14, 142, 221);
    color: rgb(230, 237, 239);
    
}

#services{
    background-color: rgb(14, 221, 66);
    color: rgb(230, 237, 239);
}

.active{
    background-color: red;
    transition: .3s all ease background-color;
}

.to-top{
    position: fixed;
    right: 32px;
    bottom: 16px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 32px;
    pointer-events: none;
    transition: all 0.5s;
    opacity: 0; 
    /* invisible now */


}

.to-top.active{
    opacity: 1;
    pointer-events: auto;
}

